services:
  redroid:
    image: redroid/redroid:11.0.0-latest
    container_name: kakao_bot_android
    privileged: true
    restart: unless-stopped
    ports:
      - "5555:5555"
    volumes:
      - ./data:/data
    command:
      - androidboot.redroid_width=720
      - androidboot.redroid_height=1280
      - androidboot.redroid_dpi=320
