spring:
  datasource:
    url: jdbc:postgresql://localhost:5444/kadan
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false

server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      force: true
